
.hidden {
    display: none;
}

.chart {
    width: 30%;
}

.dietContent {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    margin-right: 5px;
    height: 70vh;
}

.dietButton button {
    border: none;
    background: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
}

.dietButton button:hover {
    background-color: white;
}


.dietButton {
    margin: 0;
    width: 100%;
    display: flex;
    flex-basis: fill;
}

.dietButton > button {
    flex-grow: 1;
}

form {
    display: flex;
    flex-direction: column;
}

#workoutPlan {
    width: 100%;
    height: 50%;
}

.content {
    display: flex;
}

.sideBar {
    display: flex;
    width: 70%;
    height: 80vh;
    flex-direction: column;
}

#calorie {
    width: 100%;
    height: 50%;
}

input {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(60, 193, 238);
}

input:focus {
    border: 1px solid rgb(60, 193, 238);
    background-color: rgb(196, 235, 196);
}

#diet-select {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(60, 193, 238);
    margin-left: 5px;
    padding: 5px;
}

input[type=text] {
    width: 200px;
    margin-left: 5px;
}

input[type=number] {
    width: 50px;
    margin-left: 5px;
}

input[type=submit] {
    border: 1px solid rgb(117, 71, 247);
    background-color: rgb(117, 71, 247);
    color: white;
    width: 100px;
    align-self: flex-end;
}

zing-grid {
    --zg-caption-background: white;
    --zg-caption-color: black;
}